/.claude/
/.idea/
/Library/
/Logs/
/obj/
/Packages/
/ProjectSettings/
/Temp/
/UserSettings/
*.csproj
*.unitypackage

/CLAUDE.md
/AGENTS.md
/GEMINI.md
/Code_Guidelines.md
/horizOn SDK.sln.DotSettings
/horizOn SDK.sln
/sample_config.json
/CloudSDK/Resources/